body{
	height: 100%;
	margin: 0 auto;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	background-color: #003D40;
}

li{
	float: right;
}

li a{
	display: inline-block;
	color: white;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

h1,h3{
	text-align: center;
}

header{
	background: #00B6BF;
	padding: 9%;
}

footer{
	background: #00B6BF;
	text-align: center;
	padding: 1px;
  width:100%;
}

footer a{
	text-decoration: none;
	color: black;
}

button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
button:hover {
	background-color: #357f38; /* Green */
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container{
	width: 75%;
	margin-left: auto;
	/*background: yellow;*/
}
.main{
	width: 75%;
	margin: 0 auto;
	padding: 1%;
	min-height: 600px;
}

.sidebar{
	width: 17%;
	padding-top: 3%;
	padding-left: 7%;
	text-align: left;
	/*background: red;*/
	float: left;
}

.sidebar a{
	text-decoration: none;
	color: #3F403F;
}

.sidebar a:hover{
	color: #003D40;
	text-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card{
	width: 25%;
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 2px 16px 10px;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button{
	width: 100%;
	background-color: #4CAF50;
	border-radius: 5px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

table.box-style {
	font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size:12px;
	min-width:480px;
	text-align:left;
	border-collapse:collapse;
	margin-bottom:25px;
}
table.box-style th {
	font-size:14px;
	font-weight:normal;
	background:#ccc;
	border-top:4px solid #ddd;
	border-bottom:1px solid #fff;
	color:#666666;
	padding:10px;
}
table.box-style td {
	background:#f9f9f9;
	border-bottom:1px solid #fff;
	color:#999;border-top:1px solid transparent;
	padding:8px 10px;
}
table.box-style tr:hover td {
	background:#eee;color:#444;
}
